/* header container */
.background {
  border: 1px solid #ececec;
  margin: 0 auto;
}
.container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #ffffff;
}
.logo {
  color: var(--primary-text-color);
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 93px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.2;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-naw .iten:not(:last-child) {
  padding-right: 50px;
}
.site-naw {
  display: flex;
  font-weight: 500;
  margin: 0px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  display: flex;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 1;
  transition: opacite 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iten {
  display: flex;
  text-align: center;
  justify-content: center;
}
.contacts .iten:not(:last-child) {
  margin-right: 50px;
}
.riko {
  fill: var(--title-text-color);
  margin-right: 10px;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.color {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  font-weight: 500;
  margin: 0px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* header container */
